[submodule "3rd_party/GSL"]
	path = 3rd_party/GSL
	url = git@github.com:Microsoft/GSL.git
[submodule "3rd_party/tfm"]
	path = 3rd_party/tfm
	url = git@github.com:c42f/tinyformat.git
[submodule "3rd_party/spdlog"]
	path = 3rd_party/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "samples/libgphoto2/spsc"]
	path = samples/libgphoto2/spsc
	url = git@github.com:FatihBAKIR/spsc.git
[submodule "3rd_party/imgui"]
	path = 3rd_party/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "3rd_party/eigen"]
	path = 3rd_party/eigen
	url = git@github.com:RLovelett/eigen.git
