[submodule "3rd_party/GSL"]
	path = 3rd_party/GSL
	url = git@github.com:Microsoft/GSL.git
[submodule "3rd_party/tfm"]
	path = 3rd_party/tfm
	url = git@github.com:c42f/tinyformat.git
[submodule "3rd_party/spdlog"]
	path = 3rd_party/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "3rd_party/imgui"]
	path = 3rd_party/imgui
url=git@github.com:FatihBAKIR/imgui.git
[submodule "3rd_party/eigen"]
	path = 3rd_party/eigen
	url = git@github.com:RLovelett/eigen.git
[submodule "3rd_party/cpr"]
	path = 3rd_party/cpr
	url = git@github.com:whoshuu/cpr.git
[submodule "3rd_party/x264"]
	path = 3rd_party/x264
	url = http://git.videolan.org/git/x264.git
[submodule "samples/e2e_player/nanogui"]
	path = samples/e2e_player/nanogui
	url = git@github.com:wjakob/nanogui.git
[submodule "3rd_party/libuvc"]
	path = 3rd_party/libuvc
	url = https://github.com/ktossell/libuvc
