[submodule "3rd_party/GSL"]
	path = 3rd_party/GSL
	url = git@github.com:Microsoft/GSL.git
[submodule "3rd_party/tfm"]
	path = 3rd_party/tfm
	url = git@github.com:c42f/tinyformat.git
[submodule "3rd_party/spdlog"]
	path = 3rd_party/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "3rd_party/rapid_json"]
	path = 3rd_party/rapid_json
	url = git@github.com:miloyip/rapidjson.git
